/*styling.css*/
html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    background: -webkit-radial-gradient(circle, #fff, #ccc);   
    background: -o-radial-gradient(circle, #fff, #ccc);   
    background: -moz-radial-gradient(circle, #fff, #ccc);
}

/* #myVideo{
    height: 650px;
    width: 750px;
    z-index: -1;
} */
#container{
    height: 650px;
    width: 750px;
    z-index: 1;
    background: linear-gradient(to bottom right, rgb(239, 242, 41),rgb(246, 59, 7),rgb(25, 45, 177));
    /* background-image: url(./images/bg.gif);
    background-repeat: no-repeat;
    background-size: cover; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    /* border-color: #d81b63 ; */
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
/*        box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
    position: relative;
}


#score{
    background: linear-gradient(to bottom right, rgb(44, 144, 144),rgb(25, 45, 177));
    /* background-color: rgb(44, 144, 144); */
    color: #000000;
    padding: 11px;
    height: 17px;
    border-radius: 10px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px #9da853;
    -moz-box-shadow: 0px 4px 0px #9da853;
    -webkit-box-shadow: 0px 4px 0px #9da853;
}

#correct{
    position: absolute;
    left: 260px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}

#fruitContainer{
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 400px;
    z-index: 2;
    margin: 70px auto 40px auto;
    /* background-image: url(./images/bg1.gif); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/bg.jpg);
    /* background: linear-gradient(rgb(239, 242, 41),rgb(246, 59, 7),rgb(25, 45, 177)); */
    box-shadow: 0px 4px #535aa8;
    -moz-box-shadow: 0px 4px #535aa8;
    -webkit-box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    border-radius: 10px ;
    border:20px ridge #888E5F;
}

#instruction{
    width: 450px;
    height: 50px;
    border-radius:15px ;
    background:linear-gradient(to bottom right, khaki,crimson );
    margin: 10px auto;
    font-weight: bolder;
    font-family: 'Times New Roman';
    color: rgb(8,29,42);
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0px 4px #8153a8;
    -webkit-box-shadow: 0px 4px #8153a8;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover{
 background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
   -moz-box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3; 
}

.box:active, #startreset:active{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 0px #6b54d3; 
    -moz-box-shadow: 0px 0px #6b54d3; 
    -webkit-box-shadow: 0px 0px #6b54d3; 
    top: 4px;
}
#box4{
    margin-right: 0;   
}

#startreset{
    width: 78px;
    padding: 10px;
    background: linear-gradient(rgba(219, 198, 37, 0.5),red);
    margin: 20px auto;
    margin-bottom: 0px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;   
}

#trialsleft{
    width: 170px;
    height: 17px;
    padding: 10px;
    position: absolute;
    background: linear-gradient(to bottom right, rgb(227, 232, 89),rgb(68, 133, 7));
    border-radius: 10px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
/*    visibility: hidden;*/
    display: none;
}

.t{
    height: 25px;
    /* align-items: center;
    align-self: center; */
    margin: 0 5px;
}

#gameOver{
    height: 200px;
    width: 500px;
    background: linear-gradient(to bottom left, #d81b2e,#82d8c9);
    /* background: -webkit-linear-gradient(#F3CA6B, #F3706C); */
    background: -o-linear-gradient(#F3CA6B, #F3706C);
    background: -moz-linear-gradient(#F3CA6B, #F3706C);
    color: rgb(234, 227, 50);
    font-size: 2.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 200px;
    left: 145px;
    z-index: 2;
    border-style: groove;
    border-radius: 10px;
    display: none;
    
}

.fruit{
    display: none;
    position: absolute;
}